version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    groups:
      k8s:
        patterns:
          - "k8s.io/*"
      cosign-providers:
        patterns:
          - "github.com/sigstore/sigstore/pkg/signature/kms/*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
