.DS_Store
.idea/
.scratch/
.tool-versions
.vagrant
.vscode/
.zarf*
*.bak
*.key
*.crt
*.dat
*.run.zstd
*.tar
*.tar.gz
*.tgz
*.vbox
*.zst
*.zim
build
data/
zarf
zarf-pki
zarf-sbom/
*.part*
test-*.txt
__debug_bin
.netlify
!**/testdata/**
coverage.out
dist
