.idea/
.vscode/
*.zst
*.tar.gz
*.tar
*.tgz
*.bak
.vagrant
zarf
build
src/.idea/
rpms/
.env
.image-cache/
.DS_Store
data/
*.vbox
bundle/
.idea/
.tool-versions
test/tf/public-ec2-instance/.test-data
test/tf/public-ec2-instance/.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
cosign.key
.zarf*
zarf-pki
.scratch/
zarf-sbom/
clidocs/
./dist/
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
dist/
*.run.zstd
*.tar.gz
*.tgz
.vagrant
assets/
build
.image-cache/
.DS_Store
bundle/
.vscode/
/test-results/
/playwright-report/
/playwright/.cache/
