* @defenseunicorns/zarf

# Docs & examples
/adr/ @jeff-mccoy @Racer159 @Noxsios @lucasrod16
/docs/ @Madeline-UX @jeff-mccoy  @Racer159 @Noxsios @lucasrod16
/examples/ @jeff-mccoy @Racer159 @Noxsios @lucasrod16
*.md @Madeline-UX @jeff-mccoy @Racer159 @Noxsios @lucasrod16

# Core code
/src/ @jeff-mccoy @Racer159 @Noxsios
/go.* @jeff-mccoy  @Racer159 @Noxsios
main.go @jeff-mccoy @Racer159 @Noxsios

# Init package
/packages/ @jeff-mccoy @Racer159 @Noxsios
/zarf.yaml @jeff-mccoy @Racer159 @Noxsios

# Docs Website
/docs-website/ @mike-winberry @Racer159 @Noxsios @jeff-mccoy

# Privileged pipeline files
/.github/ @jeff-mccoy @Racer159 @Noxsios
/hack/ @jeff-mccoy @Racer159 @Noxsios
/.gitignore @jeff-mccoy @Racer159 @Noxsios
/.golangci.yml @jeff-mccoy @Racer159 @Noxsios
/.goreleaser.yml @jeff-mccoy @Racer159 @Noxsios
/.grype.yaml @jeff-mccoy @Racer159 @Noxsios
/Dockerfile @jeff-mccoy @Racer159 @Noxsios
/renovate.json @jeff-mccoy @Racer159 @Noxsios
/Makefile @jeff-mccoy @Racer159 @Noxsios

# Additional privileged files
/CODEOWNERS @jeff-mccoy @mikevanhemert @austenbryan
/cosign.pub @jeff-mccoy @austenbryan
/LICENSE @jeff-mccoy @austenbryan
