bases:
  - git::https://repo1.dso.mil/platform-one/big-bang/bigbang.git/base?ref=tags/1.17.0

configMapGenerator:
  - name: common
    namespace: bigbang
    behavior: merge
    files:
      - values.yaml

resources:
  - git-secret.yaml

patchesStrategicMerge:
  - |-
    apiVersion: source.toolkit.fluxcd.io/v1beta1
    kind: GitRepository
    metadata:
      name: bigbang
      namespace: bigbang
    spec:
      url: http://zarf-gitea-http.zarf.svc.cluster.local:3000/zarf-git-user/mirror__repo1.dso.mil__platform-one__big-bang__bigbang.git
      secretRef:
        name: zarf-git-secret
