/* 
// SPDX-License-Identifier: Apache-2.0
// SPDX-FileCopyrightText: 2021-Present The Zarf Authors 
 */

*,
::before,
::after {
	margin-block: unset;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* https://github.com/sveltejs/kit/discussions/7585 */
body > div {
	display: contents;
}

.card {
	background-color: var(--mdc-theme-surface);
}

/* Shorthand Classes */
.invisible {
	visibility: hidden;
}

.ripple {
	background-position: center;
	transition: background 0.3s;
}
.ripple:hover {
	background: var(--action-hover-on-dark)
		radial-gradient(circle, transparent 1%, var(--action-hover-on-dark) 1%) center/15000%;
}
.ripple:active {
	background-color: var(--action-hover-on-dark);
	background-size: 100%;
	transition: background 0s;
}
