/* 
// SPDX-License-Identifier: Apache-2.0
// SPDX-FileCopyrightText: 2021-Present The Zarf Authors 
 */

*,
::before,
::after {
	margin-block: unset;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* https://github.com/sveltejs/kit/discussions/7585 */
body > div {
	display: contents;
}

.card {
	background-color: var(--mdc-theme-surface);
}

/* Shorthand Classes */
.invisible {
	visibility: hidden;
}
