/* 
// SPDX-License-Identifier: Apache-2.0
// SPDX-FileCopyrightText: 2021-Present The Zarf Authors 
 */

*,
::before,
::after {
	margin-block: unset;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* https://github.com/sveltejs/kit/discussions/7585 */
body > div {
	display: contents;
}

.card {
	background-color: var(--mdc-theme-surface);
}

/* Layout | Page */
.page {
	padding: 2rem 10rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
@media (max-width: 900px) {
	.page {
		padding: 2rem 4rem;
	}
}
@media (max-width: 600px) {
	.page {
		padding: 2rem 1rem;
	}
}

.page .actionButtonsContainer {
	display: flex;
	justify-content: space-between;
}
.page .page-section {
	gap: 4px;
	display: flex;
	flex-direction: column;
}

/* Shorthand Classes */
.invisible {
	visibility: hidden;
}
