/* 
// SPDX-License-Identifier: Apache-2.0
// SPDX-FileCopyrightText: 2021-Present The Zarf Authors 
 */
:root {
	/* Theme | vars */
	--mdc-theme-primary: #4adede;
	--mdc-theme-primary-dark: #00acac;
	--mdc-theme-secondary: #787ff6;
	--mdc-theme-on-primary: #171717;
	--mdc-theme-on-secondary: white;
	--mdc-theme-surface: white;
	--mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.6);
	--mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);

	/* Typography | vars */
	--mdc-typography-font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	/* body2 */
	--mdc-typography-body2-font-style: normal;
	--mdc-typography-body2-font-size: 1em;

	/* body3 */
	--mdc-typography-body3-font-style: normal;
	--mdc-typography-body3-font-weight: 400;
	--mdc-typography-body3-font-size: 0.875em;
	--mdc-typography-body3-line-height: 143%;
	--mdc-typography-body3-letter-spacing: 0.17px;

	/* th */
	--mdc-typography-th-font-style: normal;
	--mdc-typography-th-font-weight: 500;
	--mdc-typography-th-font-size: 0.875em;
	--mdc-typography-th-line-height: 24px;
	--mdc-typography-th-letter-spacing: 0.17px;

	/* overline */
	--mdc-typography-overline-font-weight: 400;

	font-family: var(--mdc-typography-font-family);
}

.mdc-typography--body2,
.mdc-typography--caption {
	color: var(--mdc-theme-text-secondary-on-light);
}

.mdc-typography--body3 {
	font-style: var(--mdc-typography-body3-font-style);
	font-weight: var(--mdc-typography-body3-font-weight);
	font-size: var(--mdc-typography-body3-font-size);
	line-height: var(--mdc-typography-body3-line-height);
	letter-spacing: var(--mdc-typography-body3-letter-spacing);
}

.mdc-typography--th {
	font-style: var(--mdc-typography-th-font-style);
	font-weight: var(--mdc-typography-th-font-weight);
	font-size: var(--mdc-typography-th-font-size);
	line-height: var(--mdc-typography-th-line-height);
	letter-spacing: var(--mdc-typography-th-letter-spacing);
	color: var(--mdc-theme-text-primary-on-light);
}

.mdc-typography--headline6 {
	font-size: 20px;
	line-height: 160%;
	letter-spacing: 0.15px;
}

.mdc-typography--body2 {
	line-height: 143%;
	letter-spacing: 0.17px;
}

*,
::before,
::after {
	margin-block: unset;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

.card {
	background-color: var(--mdc-theme-surface);
}

/* Layout | Page */
.page {
	padding: 2rem 10rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
@media (max-width: 900px) {
	.page {
		padding: 2rem 4rem;
	}
}
@media (max-width: 600px) {
	.page {
		padding: 2rem 1rem;
	}
}

.page .actionButtonsContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}
.page .page-section {
	gap: 20px;
	display: flex;
	flex-direction: column;
}
.page .page-header {
	margin-top: 2rem;
}

/* Shorthand Classes */
.invisible {
	visibility: hidden;
}
