replicaCount: 1

podLabels: {}

image:
  repository: registry
  tag: 2.8.3

service:
  name: registry
  type: NodePort
  port: 5000

resources: {}

persistence:
  accessMode: "ReadWriteOnce"
  enabled: true
  size: 20Gi
  deleteEnabled: true

secrets:
  htpasswd: ""
  configData:
    version: 0.1
    log:
      fields:
        service: registry
    storage:
      cache:
        blobdescriptor: inmemory
    http:
      secret: ""
      addr: :5000
      headers:
        X-Content-Type-Options: [nosniff]
      debug:
        addr: :5001
        prometheus:
          enabled: false
          path: /metrics
    health:
      storagedriver:
        enabled: true
        interval: 10s
        threshold: 3

podDisruptionBudget:
  minAvailable: 1

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

extraEnvVars: []
## Additional ENV variables to set
# - name: REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY
#   value: "/var/lib/example"
