name: Zarf Application Package Publishing

permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  publish-packages:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Auth with AWS
        uses: aws-actions/configure-aws-credentials@f24d7193d98baebaeacc7e2227925dd47cc267f5 # v4.2.0
        with:
          role-to-assume: ${{ secrets.AWS_KMS_ROLE_ARN }}
          role-session-name: ${{ github.job || github.event.client_payload.pull_request.head.sha || github.sha }}
          aws-region: us-east-1
          role-duration-seconds: 3600

      - name: Install The Latest Release Version of Zarf
        uses: zarf-dev/setup-zarf@10e539efed02f75ec39eb8823e22a5c795f492ae #v1.0.1

      - name: "Login to GHCR"
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: dummy
          password: ${{ github.token }}

      - name: Build And Publish Application Packages
        # Create the dos-games package with the cosign signature, publish to ghcr and copy the tags to allow 'uname -m' to work
        run: |
          zarf package create -o build -a amd64 examples/dos-games --signing-key=awskms:///${{ secrets.COSIGN_AWS_KMS_KEY_ARN }} --confirm
          zarf package create -o build -a arm64 examples/dos-games --signing-key=awskms:///${{ secrets.COSIGN_AWS_KMS_KEY_ARN }} --confirm

          # Publish a the signed dos-games package
          zarf package publish ./build/zarf-package-dos-games-amd64-1.2.0.tar.zst oci://ghcr.io/zarf-dev/packages --key=https://zarf.dev/cosign.pub
          zarf package publish ./build/zarf-package-dos-games-arm64-1.2.0.tar.zst oci://ghcr.io/zarf-dev/packages --key=https://zarf.dev/cosign.pub

          # Publish a skeleton of the dos-games package
          zarf package publish examples/dos-games oci://ghcr.io/zarf-dev/packages
