name: Test Big Bang extension
on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-bb-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Setup NodeJS
        uses: ./.github/actions/node

      - name: Build Zarf binary
        uses: ./.github/actions/packages
        with:
          init-package: "false"
          build-examples: "false"

      - name: Login to Iron Bank
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        if: ${{ env.IRONBANK_USERNAME != '' }}
        env:
          IRONBANK_USERNAME: ${{ secrets.IRONBANK_USERNAME }}
        with:
          registry: registry1.dso.mil
          username: ${{ secrets.IRONBANK_USERNAME }}
          password: ${{ secrets.IRONBANK_PASSWORD }}

      - name: Build a registry1.dso.mil Zarf 'init' package
        if: ${{ env.IRONBANK_USERNAME != '' }}
        env:
          IRONBANK_USERNAME: ${{ secrets.IRONBANK_USERNAME }}
        run: make ib-init-package

      # Upload the contents of the build directory for later stages to use
      - name: Upload build artifacts
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: build-artifacts
          path: build/
          retention-days: 1

  validate:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Download build artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: build-artifacts
          path: build/

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Make Zarf executable
        run: |
          chmod +x build/zarf

      # Before we run the tests we need to aggressively cleanup files to reduce disk pressure
      - name: Cleanup files
        uses: ./.github/actions/cleanup-files

      - name: Setup K3d
        uses: ./.github/actions/k3d

      - name: Login to Iron Bank
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        if: ${{ env.IRONBANK_USERNAME != '' }}
        env:
          IRONBANK_USERNAME: ${{ secrets.IRONBANK_USERNAME }}
        with:
          registry: registry1.dso.mil
          username: ${{ secrets.IRONBANK_USERNAME }}
          password: ${{ secrets.IRONBANK_PASSWORD }}

      - name: Run tests
        if: ${{ env.IRONBANK_USERNAME != '' }}
        env:
          IRONBANK_USERNAME: ${{ secrets.IRONBANK_USERNAME }}
        run: "go test ./src/extensions/bigbang/test -failfast -v -timeout 30m"

      - name: Save logs
        uses: ./.github/actions/save-logs
