name: Test Cross-Cluster
on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"
  merge_group:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Build the binary and init package
  build-zarf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup golang
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod

      - name: Build binary and zarf packages
        uses: ./.github/actions/packages
        with:
          build-examples: "false"

      # Upload the contents of the build directory for later stages to use
      - name: Upload build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: build-artifacts
          path: build/
          retention-days: 1

  # Run the tests on kind
  validate-nftables:
    runs-on: ubuntu-latest
    needs: build-zarf
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Download build artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: build-artifacts
          path: build/

      - name: Setup golang
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod

      - name: setup kind config
        run: |
          cat <<EOF > kind-nftables-config.yml
          kind: Cluster
          apiVersion: kind.x-k8s.io/v1alpha4
          networking:
            kubeProxyMode: "nftables"
          EOF


      - name: Setup Kind
        run: |
          kind delete cluster && kind create cluster --config=kind-nftables-config.yml

      - name: Make Zarf executable
        run: |
          chmod +x build/zarf

      - name: Run tests
        run: |
          zarf init --host-network --confirm

      - name: get cluster info
        uses: ./.github/actions/debug-cluster
        if: always()

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: -validate-kind
