name: Test Site
on:
  pull_request:
  merge_group:

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: site-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-site:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./site
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0

      - name: npm ci
        run: npm ci

      - name: run site build
        run: npm run build

      - name: check links
        run: npm run link-check
