name: Test Big Bang extension
on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "package.json"
      - "package-lock.json"
      - "CODEOWNERS"

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-bb-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Setup NodeJS
        uses: ./.github/actions/node

      - name: Build binary and zarf packages
        uses: ./.github/actions/packages

      - name: Setup K3d
        uses: ./.github/actions/k3d

      - name: "Login to Iron Bank"
        uses: docker/login-action@v2
        with:
          registry: registry1.dso.mil
          username: ${{ secrets.IRONBANK_USERNAME }}
          password: ${{ secrets.IRONBANK_PASSWORD }}

      - name: Run tests
        run: go test ./src/extensions/bigbang/test -failfast -v -timeout 30m

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
