name: Test Upgrade
on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"
  merge_group:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-upgrade-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Build PR binary and zarf init package
        uses: ./.github/actions/packages

      # Upload the contents of the build directory for later stages to use
      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-artifacts
          path: build/
          retention-days: 1

  validate-upgrade:
    runs-on: ubuntu-latest
    needs: build-upgrade
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: build-artifacts
          path: build/

      - name: Setup golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Make Zarf executable
        run: |
          chmod +x build/zarf

      - name: Install release version of Zarf
        uses: zarf-dev/setup-zarf@10e539efed02f75ec39eb8823e22a5c795f492ae #v1.0.1
        with:
          download-init-package: true

      - name: Initialize the cluster with the release version
        # NOTE: "PATH=$PATH" preserves the default user $PATH. This is needed to maintain the version of zarf installed
        #       in a previous step. This test run will the current release to create a K3s cluster.
        run: |
          sudo env "PATH=$PATH" CI=true zarf init --components k3s,git-server --nodeport 31337 --confirm

      # Before we run the regular tests we need to aggressively cleanup files to reduce disk pressure
      - name: Cleanup files
        uses: ./.github/actions/cleanup-files

      - name: Create and deploy the upgrade test packages
        # NOTE: "PATH=$PATH" preserves the default user $PATH. This is needed to maintain the version of zarf installed
        #       in a previous step. This test run will the current release to create a K3s cluster.
        run: |
          zarf package create src/test/upgrade --set PODINFO_VERSION=6.3.3 --confirm
          sudo env "PATH=$PATH" CI=true zarf package deploy zarf-package-test-upgrade-package-amd64-6.3.3.tar.zst --confirm
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe deployments -n=podinfo-upgrade
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe pods -n=podinfo-upgrade

      - name: Run tests
        # NOTE: "PATH=$PATH" preserves the default user $PATH. This is needed to maintain the version of go installed
        #       in a previous step. This test run will use this PR's Zarf to create a K3s cluster.
        run: |
          sudo env "PATH=$PATH" CI=true APPLIANCE_MODE=true APPLIANCE_MODE_KEEP=true make test-e2e-with-cluster ARCH=amd64

      - name: "Describe nodes, pods and deployments"
        # NOTE: We describe nodes, pods and deployments here to help understand failures
        run: |
          echo "***** Getting pods *****"
          sudo env "PATH=$PATH" CI=true kubectl get pods -A

          echo "***** Getting pods yaml *****"
          sudo env "PATH=$PATH" CI=true kubectl get pods -A -o yaml

          echo "***** Describing pods *****"
          sudo env "PATH=$PATH" CI=true kubectl describe pods -A

          echo "***** Getting nodes *****"
          sudo env "PATH=$PATH" CI=true kubectl get nodes -A

          echo "***** describing nodes *****"
          sudo env "PATH=$PATH" CI=true kubectl describe nodes -A
        if: failure()

      # Before we run the upgrade tests we need to aggressively cleanup files to reduce disk pressure
      - name: Cleanup files
        uses: ./.github/actions/cleanup-files

      - name: Run the upgrade tests
        # NOTE: "PATH=$PATH" preserves the default user $PATH. This is needed to maintain the version of zarf installed
        #       in a previous step. This test run will the current release to create a K3s cluster.
        run: |
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe nodes

          zarf package create src/test/upgrade --set PODINFO_VERSION=6.3.4 --confirm

          sudo env "PATH=$PATH" CI=true make test-upgrade ARCH=amd64
