name: Test External Git & Registry
on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"
  merge_group:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-external-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-external:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Build binary and zarf packages
        uses: ./.github/actions/packages
        with:
          init-package: "false"

      - name: Setup k3d
        uses: ./.github/actions/k3d

      - name: Cleanup files
        uses: ./.github/actions/cleanup-files

      # Setup /mnt for temporary storage to reduce disk pressure on root filesystem
      - name: Setup temporary storage on /mnt
        run: |
          sudo mkdir -p /mnt/zarf-tmp /mnt/zarf-cache
          sudo chmod 1777 /mnt/zarf-tmp
          sudo chown -R $USER:$USER /mnt/zarf-cache

      - name: Run external service test
        env:
          TMPDIR: /mnt/zarf-tmp
          ZARF_TEST_TMPDIR: /mnt/zarf-tmp
          ZARF_CACHE: /mnt/zarf-cache
        run: make test-external

      - name: get cluster info
        uses: ./.github/actions/debug-cluster
        if: always()
