name: Test Package Create Checksums

on:
  pull_request:
  merge_group:

permissions:
  contents: read

concurrency:
  group: package-create-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-checksums:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Build Zarf
        run: make build

      - name: Build examples
        run: make build-examples ARCH=amd64

      - name: Compare checksums
        run: |
          set -e

          # Any component tar files in a package will have the same permissions as the files included in them
          # Therefore to before building a package to replace a file in hack/examples-checksums/ checksums you must run `chmod -R g-w in zarf/examples`
          for f in hack/examples-checksums/*.txt
          do
            NAME=$(basename $f .txt)
            CHECKSUM=$(tar Oxf build/$NAME.tar.zst checksums.txt | grep -v sboms.tar)
            EXPECTED_CHECKSUM=$(cat $f | grep -v sboms.tar)
            if [[ "$CHECKSUM" != "$EXPECTED_CHECKSUM" ]]
            then
              echo "Package $f does not have expected checksum."
              echo "$CHECKSUM"
              echo "-----"
              echo "$EXPECTED_CHECKSUM"
              exit 1
            fi
          done
