name: Test External Git & Registry
on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"
  merge_group:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-external-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-external:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Build binary and zarf packages
        uses: ./.github/actions/packages
        with:
          init-package: "false"

      - name: Setup k3d
        uses: ./.github/actions/k3d

      - name: Cleanup files
        uses: ./.github/actions/cleanup-files

      - name: Run external service test
        run: make test-external

      - name: get cluster info
        uses: ./.github/actions/debug-cluster
        if: always()
