name: Test Upgrade
on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"
  merge_group:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-upgrade-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Build PR binary and zarf init package
        uses: ./.github/actions/packages

      # Upload the contents of the build directory for later stages to use
      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: build-artifacts
          path: build/
          retention-days: 1

  validate-upgrade:
    runs-on: ubuntu-latest
    needs: build-upgrade
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build-artifacts
          path: build/

      - name: Setup golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Make Zarf executable
        run: |
          chmod +x build/zarf

      - name: Install release version of Zarf
        uses: zarf-dev/setup-zarf@10e539efed02f75ec39eb8823e22a5c795f492ae #v1.0.1
        with:
          download-init-package: true

      - name: Initialize the cluster with the release version
        # NOTE: "PATH=$PATH" preserves the default user $PATH. This is needed to maintain the version of zarf installed
        #       in a previous step. This test run will the current release to create a K3s cluster.
        run: |
          sudo env "PATH=$PATH" CI=true zarf init --components k3s,git-server --nodeport 31337 --confirm

      # Before we run the regular tests we need to aggressively cleanup files to reduce disk pressure
      - name: Cleanup files
        uses: ./.github/actions/cleanup-files

      # Setup /mnt for temporary storage to reduce disk pressure on root filesystem
      - name: Setup temporary storage on /mnt
        run: |
          sudo mkdir -p /mnt/zarf-tmp /mnt/zarf-cache
          sudo chmod 1777 /mnt/zarf-tmp
          sudo chown -R $USER:$USER /mnt/zarf-cache

      - name: Create and deploy the upgrade test packages
        # NOTE: "PATH=$PATH" preserves the default user $PATH. This is needed to maintain the version of zarf installed
        #       in a previous step. This test run will the current release to create a K3s cluster.
        env:
          TMPDIR: /mnt/zarf-tmp
          ZARF_TEST_TMPDIR: /mnt/zarf-tmp
          ZARF_CACHE: /mnt/zarf-cache
        run: |
          zarf package create src/test/upgrade --set PODINFO_VERSION=6.3.3 --confirm
          sudo env "PATH=$PATH" CI=true zarf package deploy zarf-package-test-upgrade-package-amd64-6.3.3.tar.zst --confirm
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe deployments -n=podinfo-upgrade
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe pods -n=podinfo-upgrade

      - name: Run tests
        # NOTE: "PATH=$PATH" preserves the default user $PATH. This is needed to maintain the version of go installed
        #       in a previous step. This test run will use this PR's Zarf to create a K3s cluster.
        run: |
          sudo env "PATH=$PATH" CI=true APPLIANCE_MODE=true APPLIANCE_MODE_KEEP=true TMPDIR=/mnt/zarf-tmp ZARF_TEST_TMPDIR=/mnt/zarf-tmp ZARF_CACHE=/mnt/zarf-cache make test-e2e-with-cluster ARCH=amd64

      - name: "Describe nodes, pods and deployments"
        # NOTE: We describe nodes, pods and deployments here to help understand failures
        run: |
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe nodes
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe deployments -n=podinfo-upgrade
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe pods -n=podinfo-upgrade

      # Before we run the upgrade tests we need to aggressively cleanup files to reduce disk pressure
      - name: Cleanup files
        uses: ./.github/actions/cleanup-files

      - name: Run the upgrade tests
        # NOTE: "PATH=$PATH" preserves the default user $PATH. This is needed to maintain the version of zarf installed
        #       in a previous step. This test run will the current release to create a K3s cluster.
        env:
          TMPDIR: /mnt/zarf-tmp
          ZARF_TEST_TMPDIR: /mnt/zarf-tmp
          ZARF_CACHE: /mnt/zarf-cache
        run: |
          sudo env "PATH=$PATH" CI=true zarf tools kubectl describe nodes

          zarf package create src/test/upgrade --set PODINFO_VERSION=6.3.4 --confirm

          sudo env "PATH=$PATH" CI=true TMPDIR=/mnt/zarf-tmp ZARF_TEST_TMPDIR=/mnt/zarf-tmp ZARF_CACHE=/mnt/zarf-cache make test-upgrade ARCH=amd64
